receivers:
{% if generator_mode == "all" %}
  loadgen:
    concurrency: {{ loadgen_concurrency }}
{% else %}
  hostmetrics:
    collection_interval: 60s
    scrapers:
      cpu:
        metrics:
          system.cpu.utilization:
            enabled: true
          system.cpu.logical.count:
            enabled: true
      disk:
      filesystem:
      load:
      memory:
        metrics:
          system.memory.utilization:
            enabled: true
      network:
      processes:
{% endif %}

processors:
{% for i in range(1, numpipelines + 1) %}
  transform/{{ i }}:
    metric_statements:
      - set(resource.attributes["instance"], "${env:ITERATION}-${env:INSTANCE}-{{ i }}")
{% if generator_mode == "all" %}
    log_statements:
      - context: resource
        statements:
          - set(attributes["instance"], "${env:ITERATION}-${env:INSTANCE}-{{ i }}")
    trace_statements:
      - context: resource
        statements:
          - set(attributes["instance"], "${env:ITERATION}-${env:INSTANCE}-{{ i }}")
{% endif %}
{% endfor %}

  batch:
  resourcedetection:
    detectors: ["system"]
    system:
      hostname_sources: ["os"]
      resource_attributes:
        host.name:
          enabled: true
        host.id:
          enabled: false
        host.arch:
          enabled: true
        host.ip:
          enabled: true
        host.mac:
          enabled: true
        host.cpu.vendor.id:
          enabled: true
        host.cpu.family:
          enabled: true
        host.cpu.model.id:
          enabled: true
        host.cpu.model.name:
          enabled: true
        host.cpu.stepping:
          enabled: true
        host.cpu.cache.l2.size:
          enabled: true
        os.description:
          enabled: true
        os.type:
          enabled: true

exporters:
{% if otlp_endpoint %}
{% set otlp_exporter = 'otlphttp' if otlp_protocol == 'http' else 'otlp' %}
{% for i in range(1, numpipelines + 1) %}
  {{ otlp_exporter }}/{{ i }}:
    endpoint: {{ otlp_endpoint }}
    headers:
      authorization: ApiKey {{ otlp_api_key }}
{% endfor %}
{% endif %}
{% if elasticsearch_endpoint %}
{% for i in range(1, numpipelines + 1) %}
  elasticsearch/{{ i }}:
    endpoint: {{ elasticsearch_endpoint }}
    api_key: {{ elasticsearch_api_key }}
    retry:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_retries: 12
      retry_on_status:
        - 429
{% endfor %}
{% endif %}

service:
  pipelines:
{% if otlp_endpoint %}
{% set otlp_exporter = 'otlphttp' if otlp_protocol == 'http' else 'otlp' %}
{% for i in range(1, numpipelines + 1) %}
{% if generator_mode == "all" %}
    metrics/otlp/{{ i }}:
      receivers: [loadgen]
      processors: [transform/{{ i }},resourcedetection,batch]
      exporters: [{{ otlp_exporter }}/{{ i }}]
    logs/otlp/{{ i }}:
      receivers: [loadgen]
      processors: [transform/{{ i }},resourcedetection,batch]
      exporters: [{{ otlp_exporter }}/{{ i }}]
    traces/otlp/{{ i }}:
      receivers: [loadgen]
      processors: [transform/{{ i }},resourcedetection,batch]
      exporters: [{{ otlp_exporter }}/{{ i }}]
{% else %}
    metrics/otlp/{{ i }}:
      receivers: [hostmetrics]
      processors: [transform/{{ i }},resourcedetection,batch]
      exporters: [{{ otlp_exporter }}/{{ i }}]
{% endif %}
{% endfor %}
{% endif %}
{% if elasticsearch_endpoint %}
{% for i in range(1, numpipelines + 1) %}
{% if generator_mode == "all" %}
    metrics/elasticsearch/{{ i }}:
      receivers: [loadgen]
      processors: [transform/{{ i }},resourcedetection]
      exporters: [elasticsearch/{{ i }}]
    logs/elasticsearch/{{ i }}:
      receivers: [loadgen]
      processors: [transform/{{ i }},resourcedetection]
      exporters: [elasticsearch/{{ i }}]
    traces/elasticsearch/{{ i }}:
      receivers: [loadgen]
      processors: [transform/{{ i }},resourcedetection]
      exporters: [elasticsearch/{{ i }}]
{% else %}
    metrics/elasticsearch/{{ i }}:
      receivers: [hostmetrics]
      processors: [transform/{{ i }},resourcedetection]
      exporters: [elasticsearch/{{ i }}]
{% endif %}
{% endfor %}
{% endif %}
{% if not monitoring_otlp_endpoint or not monitoring_api_key %}
  telemetry:
    logs:
      level: warn
    metrics:
      level: none
{% else %}
  telemetry:
    logs:
      level: warn
    metrics:
      readers:
        - periodic:
            interval: 60000
            exporter:
              otlp:
                protocol: http/protobuf
                endpoint: {{ monitoring_otlp_endpoint }}
                headers:
                  authorization: ApiKey {{ monitoring_api_key }}
{% endif %}

