receivers:
  hostmetrics:
    collection_interval: 60s
    scrapers:
      cpu:
        metrics:
          system.cpu.utilization:
            enabled: true
          system.cpu.logical.count:
            enabled: true
      disk:
      filesystem:
      load:
      memory:
        metrics:
          system.memory.utilization:
            enabled: true
      network:
      processes:

processors:
{% for i in range(1, numpipelines + 1) %}
  transform/{{ i }}:
    metric_statements:
      - set(resource.attributes["instance"], "${env:ITERATION}-${env:INSTANCE}-{{ i }}")
{% endfor %}

  batch:
  resourcedetection:
    detectors: ["system"]
    system:
      hostname_sources: ["os"]
      resource_attributes:
        host.name:
          enabled: true
        host.id:
          enabled: false
        host.arch:
          enabled: true
        host.ip:
          enabled: true
        host.mac:
          enabled: true
        host.cpu.vendor.id:
          enabled: true
        host.cpu.family:
          enabled: true
        host.cpu.model.id:
          enabled: true
        host.cpu.model.name:
          enabled: true
        host.cpu.stepping:
          enabled: true
        host.cpu.cache.l2.size:
          enabled: true
        os.description:
          enabled: true
        os.type:
          enabled: true

exporters:
{% if otlp_endpoint %}
{% for i in range(1, numpipelines + 1) %}
  otlp/{{ i }}:
    endpoint: {{ otlp_endpoint }}
    headers:
      authorization: ApiKey {{ otlp_api_key }}
{% endfor %}
{% endif %}
{% if elasticsearch_endpoint %}
{% for i in range(1, numpipelines + 1) %}
  elasticsearch/{{ i }}:
    endpoint: {{ elasticsearch_endpoint }}
    api_key: {{ elasticsearch_api_key }}
    retry:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_retries: 12
      retry_on_status:
        - 429
{% endfor %}
{% endif %}

service:
  pipelines:
{% if otlp_endpoint %}
{% for i in range(1, numpipelines + 1) %}
    metrics/otlp/{{ i }}:
      receivers: [hostmetrics]
      processors: [transform/{{ i }},resourcedetection,batch]
      exporters: [otlp/{{ i }}]
{% endfor %}
{% endif %}
{% if elasticsearch_endpoint %}
{% for i in range(1, numpipelines + 1) %}
    metrics/elasticsearch/{{ i }}:
      receivers: [hostmetrics]
      processors: [transform/{{ i }},resourcedetection]
      exporters: [elasticsearch/{{ i }}]
{% endfor %}
{% endif %}
{% if not monitoring_otlp_endpoint or not monitoring_api_key %}
  telemetry:
    logs:
      level: warn
    metrics:
      level: none
{% else %}
  telemetry:
    logs:
      level: warn
    metrics:
      readers:
        - periodic:
            interval: 60000
            exporter:
              otlp:
                protocol: http/protobuf
                endpoint: {{ monitoring_otlp_endpoint }}
                headers:
                  authorization: ApiKey {{ monitoring_api_key }}
{% endif %}

